@use 'sass:map';
@import '../../App.scss';

#details {
  @include flex-spaced-out(column);
  padding-top: 6em;
  padding-bottom: 2em;

  h1 {
    font-size: 3em;
  }

  .detail-row {
    @include flex-spaced-out(row);
    padding: 1em;
    margin-top: 1em;
    width: 90%;
  }

  @media screen 
  and (max-width: map.get($grid-breakpoints, "md")) {
    .detail-row {
      @include flex-spaced-out(column);
    }
  }
}