@use 'sass:map';
@import '../../App.scss';

#documentation {
  @include flex-spaced-out(column);
  align-items: center;

  h2 {
    a {
      color: #000;
      &:hover {
        color: $color-theme;
        text-decoration: underline;
      }
    }

    font-size: clamp(46px, 5vw, 66px);
  }

  h3 {
    padding-bottom: 0.75em;
    text-align: center;
    font-size: clamp(36px, 4vw, 56px);
  }

  p {
    font-size: 1.5em;
    padding-bottom: 2em;
  }

  .documentation-section {
    @include flex-spaced-out(column);
    width: 100%;
    padding: 2em
  }
}