#documentation {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 5em;

  h1 {
    font-size: 3.15em;
  }
}