#documentation-tableofcontents {
  padding: 3em 0;
  
  h2 {
    text-align: center;
    font-size: clamp(28px, 3.5vw, 36px);
    padding-bottom: 1em;
  }

  ul {
    font-size: clamp(25px, 4vw, 35px);

    li {
      margin-left: 30px;

      a:hover {
        text-decoration: underline;
      }
    }
  }
}