@use 'sass:map';
@import '../../App.scss';

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: min-content;
  padding: 1em;
  background-color: $color-theme;

  h1 {
    color: #fff;
  }

  @media screen and (max-width: map.get($grid-breakpoints, "md")) {
    flex-direction: column;
    padding: 1em 0 0 0;
    border-bottom: 2px solid #000;
  }
}