@use 'sass:map';
@import '../../App.scss';

nav {
  width: 40%;

  ul {
    @include flex-spaced-out(row);
    list-style: none;

    li {
      width: max-content;

      button {
        font-size: 1.2em;
        white-space: nowrap;
        padding: 1em;
        background-color: inherit;
        color: #fff;
        border: none;
        border-radius: $default-border-radius;
        transition: 0.1s ease-in-out;

        &:hover {
          cursor: pointer;
          background-color: lighten($color-theme, 15%);
        }
      }
    }
  }

  @media screen 
  and (max-width: map.get($grid-breakpoints, "md")) {
    & {
      width: 100%;
      
      ul {
        flex-direction: column;
        margin-top: 2em;
        width: 100%;
        height: min-content;
  
        li {
          width: 100%;

          button {
            width: 100%;
            font-size: 1.25em;
            letter-spacing: 0.5px;
            text-align: center;

            &:hover {
              border-radius: 0;
              background-color: darken($color-theme, $amount: 5%);
            }
          }
        }

        @for $i from 1 to 4 {
          li:nth-child(3n + #{$i}) {
            background-color: lighten($color-theme, $i * 6%);
          }
        }
      }
    }
  }
}