@use 'sass:map';
@import '../../App.scss';

#examples {
  @include flex-spaced-out(column);
  padding: 1em 0 4em 0;

  h1 {
    text-align: center;
    font-size: 2.75em;
  }

  .row {
    @include flex-spaced-out(row);
    padding: 1em 0;

    div {
      width: 50%;
      max-width: 800px;
    }

    img {
      width: 90%;
    }
  }

  @media screen 
  and (max-width: calc(map.get($grid-breakpoints, "md") + 150px)) {
    .row {
      @include flex-spaced-out(column);

      div {
        width: 95%;
        margin-bottom: 3em;
      }
    }
  }
}