@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans:wght@300&family=Poppins:wght@300&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

// font-family: 'Poppins', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;

$color-theme: #1d1a4f;
$color-green: #2aa31a;
$color-red-npm: #cc3534;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: text;
}

body {
  background-color: rgb(245, 238, 238);
}

h1, h2, h3, h4, h5, h6 {
  user-select: none;
}

h1, h2 {
  font-family: 'Poppins', sans-serif;
}

h3, h4, h5 h6 {
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);