@import './global.scss';

$color-theme: #1d1a4f;
$color-green: #2aa31a;
$color-red-npm: #cc3534;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: rgb(245, 238, 238);
}