@use 'sass:map';
@import '../scss/app.scss';
@import '../scss/global.scss';

#showcase {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: $color-theme;
  padding: 2em 1em;

  h2 {
    max-width: 30ch;
    padding: 1em 0.75em;
    font-size: clamp(0.5em, 5.3vw, 2em);
    font-weight: lighter;
    color: #fff;
  }

  span {
    color: yellow;
    font-weight: bold;
  }

  a {
    text-decoration: underline;
    color: orange;
  }

  #social-links {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: min-content;
    background-color: $color-theme;
    width: 30%;

    button {
      margin: 0.25em 0;
    }
  }

  @media screen 
  and (max-width: map.get($grid-breakpoints, "lg")) {
    flex-direction: column;

    h2 {
      max-width: 40ch;
      text-align: center;
    }

    #social-links {
      min-width: min-content;
      width: 50%;
    }
  }
}